{% extends 'base.html.twig' %}
{% block title %}Food and Go - Recettes
	{% if isCategory == true %}
		des
		{{cat.name}}
	{% endif %}.
{% endblock %}

{% block titre %}{% endblock %}


{% block body %}
	{# POPUP MESSAGE #}
	<div class="alerts">
		{% for message in app.flashes('recipe-delete') %}
			<div id="alert-popup" class="alert-success">{{message}}<span class="alert-close">&times;</span>
			</div>
		{% endfor %}
	</div>

	<section class="recipes container">
		<h1 class="nice-title">
			<span>Les recettes
				{% if isCategory == true %}
					des
					{{cat.name}}
				{% endif %}
				et</span>
			<span>Go !</span>
		</h1>


		{# MENU #}
		{% if isCategory == false %}
			{% set allTab = "activeTab" %}
		{% else %}
			{% set allTab = "" %}
		{% endif %}

		<div class="categories tabs">
			<button class="tablink {{allTab}}">
				<a href="{{ path("recipes") }}">Toutes les recettes</a>
			</button>
			{% for category in categories %}
				{# ESSAI #}
				{% if isCategory == true %}
					{% if cat == category %}
						{% set activeTab = "activeTab" %}
					{% else %}
						{% set activeTab = "inactive" %}
					{% endif %}
				{% else %}
					{% set activeTab = "inactive" %}
				{% endif %}
				{# ESSAI #}
				<button
					class="tablink {{activeTab}}">
					{# <button class="tablink"> #}
					<a href="{{ path("filterCategory", {'category':category.id}) }}">{{category.name}}</a>
				</button>
			{% endfor %}
		</div>
		{# MENU RESPONSIVE #}
		<div class="categoriesResponsive">
			<select name="categoriesLinks" id="category-select" onchange="location = this.value;">
				<option value="">-- Filtrez par catégorie --</option>
				<option value="{{ path("recipes") }}">Toutes les recettes</option>
				{% for category in categories %}
					<option value="{{ path("filterCategory", {'category':category.id}) }}">{{category.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="cards">
			{% for recipe in recipes %}

				<div class="card" style="background-image: url('{{ asset('img/recipes/' ~ recipe.image) }}'); cursor:pointer;" onclick="location.href='{{ path('show_recipe', {'id' : recipe.id }) }}';">
					<div class="card-content">
						<h2 class="card-title">{{recipe.title}}</h2>
					</div>
				</div>

			{% endfor %}
		</div>
	</section>


{% endblock %}
