{% extends 'base.html.twig' %}

{% block title %}Food and Go - Home
{% endblock %}

{% block body %}

	<h1>Dernières recettes</h1>
	<section class="latest-recipes container">
		<div class="not-carousel">
			{% for last in lasts %}
				<div class="last-recipe" style="background-image: url('{{ asset('img/' ~ last.image) }}');">
					<div class="card-content">
						<h2 class="card-title">{{last.title}}</h2>
						{# <p class="summary">Bref résumé</p> #}
						<a href="{{ path('show_recipe', {'id' : last.id }) }}" class="card-button">View Recipe</a>
					</div>
				</div>
			{% endfor %}
		</div>


		<div class="carousel" data-flickity='{ "wrapAround": true }'>
			{% for last in lasts %}
				<div class="carousel-cell" style="background-image: url('{{ asset('img/' ~ last.image) }}');">
					<div class="card-content">
						<h2 class="card-title">{{last.title}}</h2>
						{# <p class="summary">Bref résumé</p> #}
						<a href="{{ path('show_recipe', {'id' : last.id }) }}" class="card-button">View Recipe</a>
					</div>
				</div>
			{% endfor %}
		</div>

	</section>
{% endblock %}
