<nav id="nav" class="nav navbar">
	<a href="{{ path('home') }}"><img src="{{ asset('img/logo.png')}}"></a>
	<ul id="navbarMenu" class="navbarMenu">


		<li>
			<a href="{{ path('recipes') }}">Recipes</a>
		</li>

		{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="{{ path('admin') }}">Admin Dashboard</a>
			</li>

		{% elseif is_granted('ROLE_USER') %}
			<li>
				<a href="{{ path('profile') }}">Profile</a>
			</li>
			<li>
				<a href="{{ path('logout') }}">Logout</a>
			</li>

		{% else %}
			<li>
				<a href="{{ path('signin') }}">Sign in</a>
			</li>
			<li>
				<a href="{{ path('login') }}">Login</a>
			</li>
		{% endif %}


		<li class="toggle">
			<a href="javascript:void(0);" onclick="responsiveNavbar()">
				<i class="fa fa-bars"></i>
			</a>
		</li>
	</ul>
</nav>
<div class="navLines"></div>
