<nav id="nav" class="nav navbar">
	<a href="{{ path('home') }}"><img src="{{ asset('img/default/logo.png')}}" alt="logo"></a>
	<ul id="navbarMenu" class="navbarMenu">


		<li>
			<a href="{{ path('recipes') }}">Recettes</a>
		</li>


		{% if is_granted('ROLE_USER') %}

			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('admin') }}">Admin</a>
				</li>
			{% endif %}

			<li>
				<a href="{{ path('profile') }}">Profil</a>
			</li>
			<li>
				<a href="{{ path('logout') }}">Déconnecter</a>
			</li>


		{% else %}
			<li>
				<a href="{{ path('signin') }}">S'inscrire</a>
			</li>
			<li>
				<a href="{{ path('login') }}">Se connecter</a>
			</li>
		{% endif %}


		<li class="toggle">
			<a href="javascript:void(0);" onclick="responsiveNavbar()">
				{# <i class="fa fa-bars"></i> #}
				<i class="far fa-user"></i>
			</a>
		</li>
	</ul>
</nav>
<div class="navLines"></div>
