{% extends 'base.html.twig' %}

{% block title %}Food and Go - Recipes
{% endblock %}

{% block titre %}Recipes

{% endblock %}


{% block body %}
		
	
{# 
				{% for recipe in recipes %}
					<option value="{{ path("filterYear", {'year':recipe.year}) }}">{{ recipe.year }}</option>
				{% endfor %}
			</select>
			<select name="vineyards" id="vineyard-select">
				<option value="">-- Filter by Vineyard --</option>
				{% for recipe in recipes %}
					<option value="{{ path("filterYear", {'year':recipe.vineyard.name}) }}">{{ recipe.vineyard.name }}</option>
				{% endfor %}
			</select>
			<select name="vineyards" id="vineyard-select">
				<option value="">-- Filter by Country --</option>
				{% for recipe in recipes %}
					<option value="{{ path("filterYear", {'year':recipe.vineyard.country}) }}">{{ recipe.vineyard.country }}</option>
				{% endfor %}
			</select>
			<select name="vineyards" id="vineyard-select">
				<option value="">-- Filter by Vineyard --</option>
				{% for recipe in recipes %}
					<option value="{{ path("filterYear", {'year':recipe.vineyard.region}) }}">{{ recipe.vineyard.region }}</option>
				{% endfor %}
			</select> #}
			{# <select name="vineyard" id="vineyard-select" onchange="location = this.value;">
													<option value="">--Filter by Vineyards--</option>
													{% for recipe in recipes %}
														<option value="{{ path("filterVineyard", {'name':vineyard.name}) }}">{{ vineyard.name }}</option>
													{% endfor %}
												</select> #}
			{# <select name="vineyard" id="vineyard-select">
													<option value="">--Filter by Vineyards--</option>
													{% for vineyard in vineyards %}
														<option>{{ vineyard.region }}</option>
													{% endfor %}
												</select>
												<select name="vineyard" id="vineyard-select">
													<option value="">--Filter by Vineyards--</option>
													{% for vineyard in vineyards %}
														<option>{{ vineyard.name }}</option>
													{% endfor %}
												</select> #}
		</div>
		<div class="table-recipes">
			<table cellspacing="0">
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th>Ingrédients</th>
					<th>Description</th>
					<th></th>
				</tr>

				{% for recipe in recipes %}
					<tr>
						<td><img src='{{ asset('img/' ~ recipe.image) }}' alt="{{recipe.title}}"></td>
						<td>{{recipe.title}}</td>
						<td>Ingrédients ?</td>
						<td>{{recipe.description}}</td>
						<td>
							<i class="far fa-eye"></i>
						</td>
					</tr>
				{% endfor %}

			</table>
		</div>

	</section>

{% endblock %}
