{% extends 'base.html.twig' %}

{% block title %}Food and Go - Recipes
{% endblock %}

{% block titre %}Recipes

{% endblock %}


{% block body %}

	<section class="recipes container">
		<div class="tabs">
			<button class="tablink">
				<a href="{{ path("recipes") }}">ALL</a>
			</button>
			{% for category in categories %}
				<button class="tablink">
					<a href="{{ path("filterCategory", {'category':category.id}) }}">{{category.name}}</a>
				</button>
			{% endfor %}
		</div>


		{# <div class="tabs">
									<button class="tablink active" onclick="openTab(event, 'filter1')">ALL</button>
									<button class="tablink" onclick="openTab(event, 'filter2')">Starters</button>
									<button class="tablink" onclick="openTab(event, 'filter3')">Dishes</button>
									<button class="tablink" onclick="openTab(event, 'filter4')">Desserts</button>
									<button class="tablink" onclick="openTab(event, 'filter5')">Drinks</button>
								</div> #}
		{# <div class="tabcontent" id="filter1" style="display:block;"> #}
		<div class="cards">
			{% for recipe in recipes %}

				<div class="card" style="background-image: url('{{ asset('img/' ~ recipe.image) }}'); cursor:pointer;" onclick="location.href='{{ path('show_recipe', {'id' : recipe.id }) }}';">
					<div class="card-content">
						<h2 class="card-title">{{recipe.title}}</h2>
					</div>
				</div>

			{% endfor %}
		</div>
	</section>
	{# </div> #}
	{# <div id="filter2" class="tabcontent">
						<h3>
							Entrées
			
			
						</h3>
					</div>
					<div id="filter3" class="tabcontent">
						<h3>Filtre3</h3>
					</div>
					<div id="filter4" class="tabcontent">
						<h3>Filtre4</h3>
					</div>
					<div id="filter5" class="tabcontent">
						<h3>Filtre5</h3>
					</div> #}


{% endblock %}
