{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block body %}

	<section class="show-recipe container">

		<div class="recipe-image" style="background-image: url('{{ asset('img/' ~ recipes.image) }}');">
			{% if app.user and app.user is same as(recipes.author) %}
				<div class="recipe-buttons">
					<button class="recipe-btn" type="submit">
						<i class="fas fa-edit"></i> Modifier
					</button>
					<button class="recipe-btn" type="submit">
						<i class="fas fa-trash-alt"></i> Supprimer
					</button>
				</div>
			{% endif %}
		</div>
		<div class="recipe-content">
			<div class="content-left">
				<div class="recipe-date">{{recipes.updatedAt|date("d/m/Y")}}</div>
				<h2 class="recipe-title">{{recipes.title}}</h2>
				<div class="recipe-description">{{recipes.description | raw}}</div>
				{# {{recipes.comments}} #}
			</div>

			<div
				class="content-right">{# for more future functionalities #}
			</div>
		</div>

	</section>


	<section class="comments">
		{% for comment in recipes.comments %}
			{# START LOOP #}
			<div class="comment">
				<div class="comment-header">

					<h3>{{comment.author}}</h3>
					{# <p>{{comment.updatedAt | format(d-m-Y)}}</p> #}

				</div>

				<div class="comment-content">
					{{comment.content}}</div>
				<div class="comment-footer">

					<button type="button">EDIT (peut-être</button>
					<button type="button">DELETE (peut-être)</button>
				</div>


			</div>
		{% endfor %}
	</section>

{% endblock %}
