{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block body %}

	<section class="recipe_show">
		<div class="card" style="background-image: url('{{ asset('img/' ~ recipes.image) }}');">
			<div class="content">
				<h2 class="title">{{recipes.title}}</h2>
				<p>{{recipes.description | raw}}</p>
				{# {{recipes.comments}} #}
				{% if app.user and app.user is same as(recipes.author) %}
				<button type="button">EDIT (peut-être</button>
				<button type="button">DELETE (peut-être)</button>
				{% endif %}
			</div>
		</div>


	</section>


	<section
		class="comments">
		{% for comment in recipes.comments %}
		{# START LOOP #}
		<div class="comment">
			<div class="comment-header">

				<h3>{{comment.author}}</h3>
				{# <p>{{comment.updatedAt | format(d-m-Y)}}</p> #}

			</div>

			<div class="comment-content">COMMENTAIRE ICI : {{comment.content}}</div>
			<div class="comment-footer">

				<button type="button">EDIT (peut-être</button>
				<button type="button">DELETE (peut-être)</button>
			</div>


		</div>
		{% endfor %}
	</section>

{% endblock %}
